.header_f{
    height:1.173333rem;
    background: rgba(250,250,250,0.9);
    display:flex;
     >i{   
            font-size: 0.453333rem;
            line-height:1.173333rem;
            border-bottom: 1px solid #e4e4e4;
            color: #232323;

        }  
    justify-content: space-between;
    padding:0 0.266667rem;

}