.nopay{
	display: flex;
	height: 100%;
	flex-direction:column;
    background:#F0EFED;
    main{
        flex:1;
        overflow-y:auto;
        .spmc{
            display: flex;
            height: 100%;
            flex-direction:column;
            padding: 0 0.186667rem;
        	ul{
        		margin-top: 0.213333rem;
        		li{
					padding: 0.266667rem;
                    overflow: hidden;
                    border: 1px solid #888;
                    background: #fff;
                    border-radius:0.133333rem;
                    .spmc_img{
                        float: left;
                        margin-right: 0.266667rem;
                        img{
                           width: 1.6rem;
                           height: 1.333333rem;
                        } 
                    }
                    .spmc_content{
                        float: left;
                        p{
                            font-size: 0.373333rem;
                        }
                    }
                    .btn_del{
                        float: left;
                        span{
                            font-size: 0.32rem;
                        }
                    }
        		}
        	}
        }
	}
}