.idxfooter{
	height: 1.333333rem;
	width: 100%;
	border-top:0.013333rem solid #555;
	ul{
		
		li{
			width: 25%;
			border-right:0.013333rem;
			text-align: center;
			float:left;
			height: 1.333333rem;
			padding-top:0.133333rem;

			.icon_footer{
				font-size:0.666667rem;
				color:#555;
			}
			a{
				display: block;
				color:#555;
			}
		}
	}
		color: #000;
		Icon{
			color:red;
			font-size:0.32rem;
		}
	
}